footer {
  height: 8%;
  font-size: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-for-all-components {
  height: 100vh;
}
.navbar-height {
  height: 10%;
}

/*----LANDING ----*/

.landing {
  position: relative;
  background: url("./img/puppies4.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 82%;
}

.landing-inner {
  padding-top: 50px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.landing-section-info {
  padding-top: 8rem;
}

/*-----BUTTONS -----*/

.form-control::placeholder {
  color: #bbb !important;
}

.button-customized {
  background-color: rgba(178, 99, 144, 0.85);
  border-color: rgba(243, 227, 236, 0.89);
  color: white;
}

.button-customized:hover {
  background-color: #80737c;
  border: 1px solid #5d4d56;
  color: white;
}

.button-customized:active {
  background-color: rgba(65, 40, 54, 0.95);
  border: 1px solid #5d4d56;
  color: white;
}

.button-nomatch {
  background-color: rgba(144, 172, 194, 0.85);
  color: white;
}

.button-nomatch:hover {
  background-color: rgba(22, 38, 94, 0.95);
  border: 1px solid #dadcdf;
  color: white;
}

.button-nomatch:active {
  background-color: #80737c;
  border: 1px solid #5d4d56;
  color: white;
}

.button-match-pair {
  width: 10%;
  font-size: 18px;
  margin-left: 5%;
  margin-right: 5%;
}

.button-your-profile {
  font-size: 12px;
  color: black;
  background-color: rgb(195, 199, 207);
}

.button-your-profile:hover {
  background-color: rgba(22, 38, 94, 0.95);
  border: 1px solid #dadcdf;
  color: white;
}

/*-----DASHBOARD PROFILE------*/
#mobile-nav {
  background-color: #343a40;
}

.display-profiles {
  margin-top: 25px;
  width: 40rem;
  height: 20rem;
}

.card-body p {
  margin: 3px;
}

.card-body {
  padding: 3%;
}

.description-card {
  padding-top: 2%;
}

.description-card p {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.welcome {
  text-align: center;
}

.medias {
  margin-top: 10%;
}

.description {
  padding-left: 3%;
  padding-right: 3%;
}

/*-----CHAT-----*/

.chat-container {
  height: 90%;
  display: flex;
  flex-direction: row;
}

.sidenav {
  height: 100%;
  width: 30%;
  background-color: rgba(218, 219, 219, 0.83);
}

.chat {
  height: 100%;
  width: 70%;
}

table {
  width: 100%;
  margin-top: 30px;
}

.chat-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  padding: 0.75rem 1rem;
}

.chat-list-item:hover {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: row;
}

.active-chat-selected {
  align-items: center;
  font-size: 20px;
  background-color: rgba(106, 123, 134, 0.575);
  padding: 0.75rem 1rem;
}

tr {
  font-size: 14px;
}

tr.chat-list:hover {
  cursor: pointer;
  color: rgb(136, 136, 136);
}

#new-message {
  height: 24%;
  width: 100%;
  margin-left: 0px;
  border-top: 1px solid #3f3f3f;
}

#message-history {
  height: 64%;
  overflow: auto;
}

.message-form {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
}

.form-wrapper {
  width: 100%;
  padding-right: 2rem;
}

.header-messenger {
  height: 12%;
  border-bottom: 1px solid #3f3f3f;
  padding: 0.75rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.avatar-messenger {
  width: 3rem;
  margin-right: 0.75rem;
}

.last-sent-message {
  font-size: 13px;
  font-weight: 300;
}

/*UTILS------*/

#height-full {
  height: 100%;
}

.width-full {
  width: 100%;
}

.row-flex {
  display: flex;
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

.align-items {
  align-items: center;
}
