footer {
  background-color: black;
  color: white;
  height: 50px;
  font-size: 15px;
}
/*----LANDING ----*/
img {
  width: 100%;
}

.landing {
  position: relative;
  background: url("./img/puppies4.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 50px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.button-customized {
  background-color: rgba(178, 99, 144, 0.85);
  border-color: rgba(243, 227, 236, 0.89);
  color: white;
}

.button-customized:hover {
  background-color: #80737c;
  border: 1px solid #5d4d56;
  color: white;
}

.button-customized:active {
  background-color: rgba(65, 40, 54, 0.95);
  border: 1px solid #5d4d56;
  color: white;
}

.button-nomatch {
  background-color: rgba(144, 172, 194, 0.85);
  color: white;
}

.button-nomatch:hover {
  background-color: rgba(22, 38, 94, 0.95);
  border: 1px solid #dadcdf;
  color: white;
}

.button-nomatch:active {
  background-color: #80737c;
  border: 1px solid #5d4d56;
  color: white;
}

.landing-section-info {
  padding-top: 23%;
}

/*-----DASHBOARD------*/
ul.side {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

li.side {
  border: 1px solid black;
  border-radius: 3px;
  color: #000;
  padding: 8px 16px;
  list-style-type: none;
}

li.side:hover {
  background-color: #555;
  color: white;
}

.display-profiles {
  margin-top: 25px;
  width: 46rem;

  height: 23rem;
}

.dashboard {
  height: 700px;
}

.card-body p {
  margin: 3px;
}

.card-body {
  padding: 4%;
}

.description-card {
  padding-top: 2%;
}

.description-card p {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.button-match-pair-profile-item {
  width: 20%;
  height: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
}

.button-match-pair {
  width: 10%;
  font-size: 18px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
}

.button-your-profile {
  font-size: 12px;
  color: black;
  background-color: rgb(195, 199, 207);
}

.button-your-profile:hover {
  background-color: rgba(22, 38, 94, 0.95);
  border: 1px solid #dadcdf;
  color: white;
}

.welcome {
  text-align: center;
}

.medias {
  margin-top: 30%;
}

/*-----CHAT-----*/
.chat {
  height: 800px;
  padding: 0;
}


.sidenav {
  background-color: rgba(218, 219, 219, 0.83);
  height: 100%;
  padding-top: 2%;
  padding-left: 40px;
}

.row.content {
  height: 800px;
}

table {
  width: 100%;
  margin-top: 30px;
}

tr {
  font-size: 16px;
}

tr:hover {
  cursor: pointer;
  color: rgb(162, 162, 163);
}

#new-message {
  bottom: 0;
  width: 80%;
  margin-left: 0px;
  border-top: 1px solid #3f3f3f;
}

#message-history {
  height: 75%;
  overflow: auto;
}
